html ,body {
    background-image: url("bg.png");
    height: 100%;
}
body {
   
}
.text {
    text-align: center;
    padding-top: 100px;
    color: white;
    font-family: 'Lato', Regular;

}
a {
    text-decoration: none;
    color: white;
}