body {
    background-image: url('/imgs/bg.png');
    
}
footer {
    color: white;
    text-align: center;
    font-size: 35px;
    font-family: 'Roboto', sans-serif;

}
footer a {
    text-decoration: none;
    color: #fff;
}
